@use '_fonts';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}
button:hover {
 background-color: #FFFFFF;
 color: #5474FD;
}
header {
    background-image: url(../images/image-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1770px;
    width: 100%;
    height: 737px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
    .h-crew {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: /*48px*/ 5vw;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 100px;

    }
    h2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 6.82px;
        color: #FFFFFF;
    }

    .search-bar {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: center;
        max-width: 700px;
        width: 100%;
        height: 63px;
    }
    input:hover {
        background-color: #999999;
        color: #FFFFFF;
    }
    input {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.8px;
        color: #999999;
        background-color: white;
        border: 1px solid white;
        transition-duration: 1s;
    }
    .search {
        max-width: 400px;
        width: 100%;
        height: 63px;
    }
    .btn-1 {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #5474FD;
        border: 1px solid white;
        max-width: 153px;
        width: 100%;
        height: 68px;
        transition-duration: 1s;
    }

    .scroll-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .p-1 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.8px;
        color: #FFFFFF;
    }
    .fa-chevron-down {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.8px;
        color: #FFFFFF;
    }
.nav-bar {
    max-width: 1770px;
    width: 100%;
    height: 80px;
    background-color: #5474FD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    
    h3 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    ul {
        list-style: none;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        overflow: auto;
    }
    li {
        margin: 20px;    
    }
    .nav-link {
        transition-duration: 1s;
    }
    .nav-btn {
        background-color: #5474FD;
        color:#FFFFFF;
        border: none;
        
    }
    
.sec-1 {
    background-image: url(../images/image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1770px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    

    h4 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 288px;
    width: 100%;    
    height: 56px;
    }
    .p-2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 1.6px;
        color: #E8E8E8;
        max-width: 560px;
        width: 100%;
        height: 100px;
    }
    .p-3 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 1.6px;
        color: #E8E8E8;
        max-width: 560px;
        width: 100%;
        height: 58px;
    }
    .btn-2 {
        max-width: 228px;
        width: 100%;
        height: 63px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #5474FD;
        border: none;
        transition-duration: 1s;
    }


    .img-container-1 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 10px;
        max-width: 400px;
        width: 100%;
        height: 490px;
    }
        .display-img-1 {
            max-width: 350px;
            width: 100%;
            height: 220px;
            grid-column-start: 1;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .display-img-2 {
            max-width: 350px;
            width: 100%;
            height: 220px;
            grid-column-start: 2;
            grid-column-end: 10;
            grid-row-start: 2;
            grid-row-end: 3;
        }

.image-bar {
    max-width: 1780px;
    width: 100%;
    height: 400px;
    background-color: #333333;
}

.sec-3 {
    max-width: 1770px;
    width: 100%;
    height: 700px;
    background-image: url(../images/image-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

    .box-1 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        max-width: 543px;
        width: 100%;
        height: 374px;
        background: #232323;
        mix-blend-mode: normal;
        opacity: 0.9;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .p-4 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 1.5px;
        color: #E8E8E8;
        margin: 20px;
    }
    .p-5 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 20px;
    }
    .p-6 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #E8E8E8;
        margin: 20px;
    }
    .btn-3 {
        max-width: 228px;
        width: 100%;
        height: 63px;
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #5474FD;
        border: none;
        transition-duration: 1s;
        margin: 20px;
    }
.sec-4 {
    max-width: 1770px;
    width: 100%;
    height: 700px;
    background-image: url(../images/image-6.png);        
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    }

        .box-2 {
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 2;
            grid-row-end: 5;
            max-width: 543px;
            width: 100%;
            height: 374px;
            background: #232323;
            mix-blend-mode: normal;
            opacity: 0.9;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .p-7 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 1.5px;
            color: #E8E8E8;
            margin: 20px;
        }
        .p-8 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 20px;
        }
        .p-9 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: #E8E8E8;
            margin: 20px;
        }
        .btn-4 {
            max-width: 228px;
            width: 100%;
            height: 63px;
            font-family: 'Aleo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #5474FD;
            border: none;
            transition-duration: 1s;
            margin: 20px;
        }
.sec-5 {
    max-width: 1770px;
    width: 100%;
    height: 730px;
    background-image: url(../images/image-7.png);        
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    h5 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    }
    .box-3 {
        max-width: 1113px;
        width: 100%;
        height: 287px;
        background-color: #333333;
        display: flex;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
     
    .p-10 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FEFEFE;
        max-width: 150px;
        width: 100%;
        height: 26px;
        margin: 20px;
    }
    
    .fa-quote-left {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        display: flex;
        align-self: flex-start;
        color: #5474FD;

    }
    
    .p-11 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px; 
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #E8E8E8;
        max-width: 581px;
        width: 100%;
        height: 165px;
        margin: 20px;
    }
    

    .display-img-3 {
        max-width: 445px;
        width: 100%;
        height: 287px;
    }
footer {
    max-width: 1770px;
    width: 100%;
    height: 271px;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .p-12 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: 3.36px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .p-13 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 1.6px;
        color: #FFFFFF;
    }
    .icon-box {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        letter-spacing: 5px;
        color: #E8E8E8;
        transition-duration: 1s;
    }
    .icon-link {
        margin: 10px;
    }
    .icon-link:hover {
        color:#5474FD
    }
    @media screen and (max-width: 800px){

        .nav-bar {
            max-height: 200px;
            height: 100%;} 
            
        .display-img-2 {
            display: none;}

        .sec-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            /*height: 600px;*/}

        .sec-4 {
            display: flex;
            justify-content: center;
            align-items: center;}

        .p-10 {
            width: 5vw;}    

        .display-img-3 {
            display: none;}

        .fa-quote-left {
            display: none;}
        }

    @media screen and (max-width: 600px){
        .info-group {
            display: flex ;
            justify-content: center;
            align-items: center;
            flex-direction: column;}
    
        .p-2 {
            max-width: 550px;
            width: 100%;
            height: 100px;
            margin: 20px;}
            
        .p-3  {
            max-width: 550px;
            width: 100%;
            height: 100px;
            margin: 20px;}  
    
        .display-img-1 {
            display: none;}
           
        .display-img-2 {
            display: none;}

        .image-bar {
             min-height: 200px;
            height: 100%;}
    
        .p-11 {
            max-width: 500px;}
    }

    @media screen and (max-width: 500px){

        h3 {
            display: none;
        }
        .p-2 {
            max-width: 450px;
            width: 100%;
            height: 100px;
            margin: 20px;}
            
        .p-3  {
            max-width: 450px;
            width: 100%;
            height: 100px;
            margin: 20px;} 
        
        .fa-quote-left {
            display: none;
        }

        .p-11 {
            max-width: 400px;
        }
    }

    @media screen and (max-width: 400px){

        .search {
            font-size: 10px;
            
        }

        .image-bar {
            min-height: 60px;
            height: 100%;
        }

        .p-2 {
            max-width: 310px;
            width: 100%;
            height: 100px;
            margin: 20px;}
            
        .p-3  {
            max-width: 310px;
            width: 100%;
            height: 100px;
            margin: 20px;} 

        .btn-2 {
            margin-top: 50px;
        }
        
        .p-10 {
            font-size: 14px;
        }

        .fa-quote-left {
            display: none;
            font-size: 0px;
        }

        .p-11 {
            max-width: 300px;
            font-size: 13px;
        }
    }

    @media screen and (max-width: 320px){

        h1 {
            font-size: 22px;
        }

        .search {
            font-size: 0px;
        }

        h3 {
            display: none;
        }

        .menu {
            font-size: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .box-1 {
            max-height: 500px;
            height: 100%;
        }

        .box-2 {
            max-height: 500px;
            height: 100%;
        }

        .p-2 {
            font-size: 15px;
            max-width: 300px;
            width: 100%;
            height: 150px;
        }

        .p-3 {
            font-size: 15px;
            max-width: 300px;
            width: 100%;
            height: 150px;
        }

        h5 {
            font-size: 25px;
        }

        .box-3 {
            max-width: 320px;
            width: 100%;
            min-height: 150px;
            height: 100%;
        }

        .p-10 {
            display: flex;
            flex-direction: row;
            max-width: 50px;
            width: 100%;
            max-height: 20px;
            height: 100%;
        }

        .p-11 {
            font-size: 13px;
            max-width: 310px;
            width: 100%;
            min-height: 190px;
        }
    }
