body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button:hover {
  background-color: #FFFFFF;
  color: #5474FD;
}

header {
  background-image: url(../images\ /image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1770px;
  width: 100%;
  height: 737px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}

.serach-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

input {
  max-width: 500px;
  width: 100%;
  height: 63px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
  background-color: white;
  border: 1px solid white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.btn-1 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5474FD;
  border: 1px solid white;
  max-width: 153px;
  width: 100%;
  height: 63px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.p-1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #FFFFFF;
}

.nav-bar {
  max-width: 1770px;
  width: 100%;
  height: 80px;
  background-color: #5474FD;
}

h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

ul {
  list-style: none;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*li {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}*/
.sec-1 {
  background-image: url(../images\ /image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1770px;
  width: 100%;
  height: 685px;
}

h4 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.p-2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.p-3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.btn-2 {
  max-width: 228px;
  width: 100%;
  height: 63px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5474FD;
  border: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.display-img-1 {
  max-width: 350px;
  width: 100%;
  height: 220px;
}

.display-img-2 {
  max-width: 350px;
  width: 100%;
  height: 220px;
}

.sec-2 {
  max-width: 1773px;
  width: 100%;
  height: 340px;
  background-color: #333333;
}

.sec-3 {
  max-width: 1770px;
  width: 100%;
  height: 700px;
  background-image: url(../images\ /image-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box-1 {
  max-width: 543px;
  width: 100%;
  height: 374px;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
}

.p-4 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.p-5 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.p-6 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E8E8E8;
}

.btn-3 {
  max-width: 228px;
  width: 100%;
  height: 63px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5474FD;
  border: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.sec-4 {
  max-width: 1770px;
  width: 100%;
  height: 700px;
  background-image: url(../images\ /image-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box-2 {
  max-width: 543px;
  width: 100%;
  height: 374px;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
}

.p-7 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.p-8 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.p-9 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E8E8E8;
}

.btn-4 {
  max-width: 228px;
  width: 100%;
  height: 63px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5474FD;
  border: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.sec-5 {
  max-width: 1770px;
  width: 100%;
  height: 730px;
  background-image: url(../images\ /image-7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h5 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.box-3 {
  max-width: 1113px;
  width: 100%;
  height: 287px;
  background-color: #333333;
}

.p-10 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FEFEFE;
}

.p-11 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E8E8E8;
}

.display-img-3 {
  max-width: 445px;
  width: 100%;
  height: 287px;
}

footer {
  max-width: 1773px;
  width: 100%;
  height: 271px;
  background-color: #232323;
}

.p-12 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.p-13 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}